name: Debug

on:
    workflow_dispatch:

jobs:
    android:
        name: Release Android
        runs-on: ubuntu-24.04-arm
        permissions: write-all

        steps:
            - name: 代码迁出
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: 构建Java环境
              uses: actions/setup-java@v5
              with:
                  distribution: "zulu"
                  java-version: "17"
                  cache: "gradle"
                  cache-dependency-path: |
                      android/*.gradle*
                      android/**/gradle-wrapper.properties

            - name: 安装Flutter
              uses: subosito/flutter-action@v2
              id: flutter-action
              with:
                  channel: stable
                  flutter-version-file: pubspec.yaml
                  cache: true

            - name: apply bottom sheet patch
              working-directory: ${{ env.FLUTTER_ROOT }}
              run: git apply $GITHUB_WORKSPACE/lib/scripts/bottom_sheet_patch.diff
              continue-on-error: true

            - name: Write key
              if: github.event_name == 'workflow_dispatch'
              run: |
                  if [ ! -z "${{ secrets.SIGN_KEYSTORE_BASE64 }}" ]; then
                    echo "${{ secrets.SIGN_KEYSTORE_BASE64 }}" | base64 --decode > android/app/key.jks
                    echo storeFile='key.jks' >> android/key.properties
                    echo storePassword='${{ secrets.KEYSTORE_PASSWORD }}' >> android/key.properties
                    echo keyAlias='${{ secrets.KEY_ALIAS }}' >> android/key.properties
                    echo keyPassword='${{ secrets.KEY_PASSWORD }}' >> android/key.properties
                  fi

            - name: Set and Extract version
              shell: pwsh
              run: lib/scripts/build.ps1 android

            - name: flutter build debug apk
              run: flutter build apk --debug --split-per-abi --dart-define-from-file=pili_release.json --pub

            - name: flutter build apk
              run: flutter build apk --release --split-per-abi --dart-define-from-file=pili_release.json --pub

            - name: rename
              run: |
                  for file in build/app/outputs/flutter-apk/app-*-release.apk; do
                    abi=$(echo "$file" | sed -E 's|.*app-(.*)-release\.apk|\1|')
                    mv "$file" "PiliPlus_android_${{ env.version }}_${abi}.apk"
                  done
              shell: bash

            - name: 上传
              uses: actions/upload-artifact@v5
              with:
                  name: Android
                  path: |
                      PiliPlus_android_*.apk
